body {

    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;

    /* Substitua "url('caminho/para/imagem.jpg')" pelo caminho real da sua imagem */

    background-image: url('./img/imgfundo1.jpg');

    background-size: cover;

    background-position: center;

    /* Para garantir que a imagem inteira seja exibida */

    background-repeat: no-repeat;

    background-attachment: fixed;

    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 100vh;

}



.container {

    width: 100%;

    max-width: 600px;

    margin: 0 auto;

    padding: 20px;

    background-color: rgba(192, 192, 192, 0.8);

    /* Cinza prateado semi-transparente */

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    border-radius: 8px;

    margin-top: 50px;

}



h1 {

    text-align: center;

    color: #333;

}



.informacoes {

    margin-bottom: 20px;

}



.input {

    width: 100%;

    padding: 10px;

    margin: 10px 0;

    font-size: 16px;

    border: 1px solid #ccc;

    border-radius: 5px;

}



button {

    padding: 10px 20px;

    font-size: 16px;

    background-color: #FFA500;

    /* Laranja futurístico */

    color: white;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    width: 100%;

    display: block;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    /* Sombra futurística */

    transition: background-color 0.3s ease;

    /* Transição suave na cor de fundo */

}



button:hover {

    background-color: #FF8C00;

    /* Laranja mais escuro no hover */

}



button:disabled {

    background-color: #ccc;

    cursor: not-allowed;

}



#mensagem {

    font-size: 16px;

    color: #333;

    margin: 10px 0;

    text-align: center;

}